{% extends "layouts/butterflycollection.html" %}

{% block content %}
    <article class="post__content">
        <ul>
            {% for tag in tags %}
                <li>
                    <a href="/butterflycollection/tag/{{ tag | slugify }}">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
        <h1>{{title}}</h1>
        <p>
            <time>Last sighting: {{ sighting | asPostDate }}</time>
        </p>

        {{ content | safe }}

    </article>
{% endblock %}