@import url("./global.css");

.butterfly-card {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin: 1.25rem 0;
  padding: 1rem;
  border: 1px dashed var(--border);
  border-radius: 0.5rem;
}

@media only screen and (max-width: 720px) {
  .butterfly-card {
    display: flex;
    flex-direction: column;
  }
}

.butterfly-card__content {
  width: 100%;
}

.butterfly-card__heading {
  font-family: var(--sans-font);
  font-size: 2.4rem;
  margin: 0;
}

.butterfly-card__latin {
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 0.25rem;
}

.butterfly-card__text {
  font-size: 1rem;
}

.butterfly-card__img {
  border-radius: 50%;
  max-height: 10rem;
  max-width: 10rem;
  margin-right: 2rem;
}

hr {
  border: 0;
  border-top: 1px dashed var(--border);
  margin: 3rem 0;
}

ul {
  padding-left: 0;
}

.butterfly li {
  display: inline-block;
  list-style: none;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.tag-link,
.tag-link:visited {
  color: var(--text);
  font-size: 0.85rem;
  border: 0.15rem solid var(--tag);
  background-color: var(--tag);
  padding: 0.3rem 0.6rem;
  letter-spacing: 0.05rem;
  border-radius: 5rem;
  box-shadow: none;
}

.tag-link:active,
.tag-link:hover {
  color: var(--text);
  font-size: 0.85rem;
  border: 0.15rem solid var(--tag);
  background-color: white;
  padding: 0.3rem 0.6rem;
  letter-spacing: 0.05rem;
  border-radius: 5rem;
  box-shadow: none;
}

.post-img {
  width: 50%;
  padding-bottom: 2rem;
  padding-left: 1rem;
  float: right;
}

@media only screen and (max-width: 720px) {
  .butterfly-card__heading {
    font-family: var(--sans-font);
    font-size: 1.8rem;
    margin: 0;
  }

  .butterfly-card__img {
    margin-bottom: 1.25rem;
  }

  .tag-link,
  .tag-link:visited,
  .tag-link:active,
  .tag-link:hover {
    font-size: 0.75rem;
  }
}
